a{
    color: #ffffff;
}
.container-fluid.comments-list {
    color: #ffffff;
    font-size: medium;
    margin-bottom: 12px;
    border-radius: 4px;
}
.container-fluid.comments-list .comment-line {
    background: #3c83ec;
    height: auto;
    display: flex;
    margin: 1px 0;
}
.container-fluid.comments-list .comment-line:nth-child(2n) {
    background: #7fa4da;
}
.row.line {
    background: #000000ab;
    margin: 3px 0;
    padding: 5px 0;
}
.row.line a {
    color: #ffffff;}
